<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADErElMVYq-7H2zUnDzShI32M_SelK2W8</string>
	<key>GCM_SENDER_ID</key>
	<string>386145539313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jenosize.testprint</string>
	<key>PROJECT_ID</key>
	<string>tceb-6770e</string>
	<key>STORAGE_BUCKET</key>
	<string>tceb-6770e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386145539313:ios:00b105b67bc6ba7a7c8550</string>
	<key>DATABASE_URL</key>
	<string>https://tceb-6770e.firebaseio.com</string>
</dict>
</plist>